USE [master]
GO
/****** Object:  Database [ROES]    Script Date: 12/09/2015 16:12:25 ******/
CREATE DATABASE [ROES] ON  PRIMARY 
( NAME = N'ROES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ROES.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ROES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ROES_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ROES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ROES]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 12/09/2015 16:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Venta](
	[idCliente] [int] NULL,
	[idVenta] [int] NULL,
	[Tipo] [varchar](50) NULL,
	[CantidadTotal] [int] NULL,
	[Normal] [int] NULL,
	[Sabor] [int] NULL,
	[Total] [int] NULL,
	[Fecha] [date] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysUsuarios]    Script Date: 12/09/2015 16:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysUsuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Produccion]    Script Date: 12/09/2015 16:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produccion](
	[idProduccion] [int] NULL,
	[KilosMaseca] [int] NULL,
	[KilosMinsa] [int] NULL,
	[KilosMasaExtra] [int] NULL,
	[KilosProducidos] [int] NULL,
	[KilosTortillaSobrante] [int] NULL,
	[KilosTortillaSabor] [int] NULL,
	[Fecha] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 12/09/2015 16:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gastos](
	[idGasto] [int] NULL,
	[Concepto] [varchar](50) NULL,
	[Cantida] [int] NULL,
	[Fecha] [date] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 12/09/2015 16:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Factura](
	[idCliente] [int] NULL,
	[idVenta] [int] NULL,
	[Fecha] [date] NULL,
	[Estatus] [varchar](50) NULL,
	[Tipo] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cuota]    Script Date: 12/09/2015 16:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuota](
	[idCuota] [int] NULL,
	[Tipo] [varchar](50) NULL,
	[Normal] [int] NULL,
	[Sabor] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 12/09/2015 16:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Contacto] [varchar](50) NULL,
	[Telefono] [int] NULL,
	[Direccion] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 12/09/2015 16:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen](
	[SacosMinsa] [int] NULL,
	[SacosMaseca] [int] NULL,
	[Gas] [int] NULL,
	[Agua] [int] NULL,
	[fecha] [date] NULL
) ON [PRIMARY]
GO
